absl-py==0.8.1
asn1crypto==0.24.0
astor==0.8.0
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
boto3==1.10.15
botocore==1.13.15
certifi==2019.9.11
chardet==3.0.4
Click==7.0
configparser==3.5.0b2
cryptography==2.6.1
dbus-python==1.2.12
docutils==0.15.2
entrypoints==0.3
enum34==1.1.6
Flask==1.1.1
funcsigs==1.0.2
future==0.18.2
futures==3.3.0
gast==0.3.2
google-pasta==0.1.8
grpcio==1.25.0
gunicorn==19.10.0
gyp==0.1
h5py==2.10.0
html5lib==1.0.1
idna==2.8
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.1
keyrings.alt==3.1.1
lxml==4.4.1
Markdown==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
numpy==1.16.2
protobuf==3.10.0
pycrypto==2.6.1
PyGObject==3.34.0
python-dateutil==2.8.0
pyudev==0.21.0
pyxdg==0.25
regex==2019.11.1
requests==2.22.0
s3transfer==0.2.1
sacremoses==0.0.35
scour==0.37
SecretStorage==2.3.1
sentencepiece==0.1.83
six==1.12.0
soupsieve==1.9.2
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
torch==1.3.1
tqdm==4.38.0
transformers==2.1.1
urllib3==1.25.7
virtualenv==16.7.7
webencodings==0.5.1
Werkzeug==0.16.0
wrapt==1.11.2
